@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }    
}

@mixin grid ($columnas, $gap){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin boton ($bgColor, $colorTexto) {
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: $bgColor;
    color: $colorTexto;
    font-size: 1.6rem;
    font-weight: v.$regular;

    &:hover {
        background-color: darken($bgColor, 7%);
    }
}