@use 'base/variables' as v;
@use 'base/mixins' as m;

body {
    &.dark-mode-active {
        background: darken(v.$gris-oscuro, 10);

        p, h3 {
            color: v.$blanco;
        }

        .titulo {
            .active {
                color: lighten(v.$azul, 25%);
            }
        }

        .subtitulo {
            color: lighten(v.$azul, 25%);

            &.subtitulo--mod {
                color: v.$blanco;
            }
        }

        .card__titulo {
            color: lighten(v.$gris-claro, 20);
        }

        .about {
            background: v.$gris-oscuro;
        }

        .card {
            background: v.$gris-oscuro;
            box-shadow: 0px 5px 12px -5px v.$negro;

            h3 {
                color: v.$azul;
            }
        }
    }
}