/*-------------------------------*/
/*------- SECTION 3 -----*/
/*-------------------------------*/
.section3 {
    margin-bottom: 3rem;
}

.seccion3__contenido {
    display: flex;
    flex-direction: column;

    @include tablet {
        display: block;
    }

    .card {
        @include tablet {
            @include grid (2, 2rem)
        }

        &:nth-child(2) {
            .card__textos {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            img {
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }
    }
}
